/*****************************/
/*** FOOTER ***/
/*****************************/
.footer {
  padding: 40px 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 992px) {
    padding: 70px 0 100px 0;
  }

  .socialMedia-list {
    padding: 20px 0;
    gap: 20px;

    @media (min-width: 992px) {
      gap: 25px;
    }

    .socialMedia-item {
      a {
        .socialMedia-icon {
          @media (min-width: 992px) {
            font-size: 25px;
          }
        }
      }
    }
  }

  .footerContainer {
    p {
      text-align: center;
      color: var(--content);
      font-weight: var(--text-normal);
      font-size: var(--text-small);
      margin: 10px 0;

      @media (min-width: 992px) {
        font-size: var(--text-medium);
        line-height: 30px;
      }

      a {
        color: var(--main);
        text-decoration-line: none;
        font-weight: var(--text-bold);

        &:hover {
          color: var(--main-dark);
        }
      }
    }
  }
}
