.nav {
  /* Mobile view */
  @media (max-width: 992px) {
    position: absolute;
    top: 120%;
    right: 5%;

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    background-color: var(--container);
    padding: 30px 40px;
    border-radius: 10px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);

    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0.3s;

    .navList {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      .navItem {
        a {
          font-size: var(--text-small);
          font-weight: var(--text-bold);
          color: var(--content);
          text-decoration-line: none;
          transition: color 0.3s ease;

          &:hover {
            cursor: pointer;
            color: var(--main);
          }
        }
      }
    }

    .bluePillButton {
      padding: 12px 30px;
    }
  }

  /* Desktop view */
  @media (min-width: 992px) {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;

    .navList {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 30px;

      .navItem {
        a {
          font-size: 16px;
          color: var(--content);
          text-decoration-line: none;
          transition: color 0.3s ease;

          &:hover {
            cursor: pointer;
            color: var(--main);
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .showOnMobile {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
