/*****************************/
/*** ABOUT ME SECTION ***/
/*****************************/
.aboutMe-section {
  width: 100%;
  background-color: var(--container);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .aboutMe-infoSection {
    width: 90%;
    max-width: 1200px;
    padding: 60px 20px 80px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    @media (min-width: 992px) {
      flex-direction: row;
      padding: 100px 60px;
      justify-content: space-between;
      border-radius: 30px;
    }

    .aboutMe-img {
      width: 150px;
      border-radius: 100px;
      align-self: flex-start;

      @media (min-width: 992px) {
        align-self: flex-start;
        width: 20%;
        border-radius: 100%;
      }
    }

    div {
      display: flex;
      flex-direction: column;

      gap: 25px;

      @media (min-width: 992px) {
        width: 73%;
        gap: 30px;
      }

      .aboutMe-infoSection-titlesContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        justify-content: center;

        @media (min-width: 992px) {
          width: 100%;
          justify-content: flex-start;
        }

        div {
          display: flex;
          flex-direction: column;
          align-items: start;
          text-align: start;
          gap: 15px;

          @media (min-width: 992px) {
            width: 100%;
            text-align: start;
            align-items: flex-start;
            gap: 18px;
          }

          /* h3 {
            color: var(--content);
            font-weight: var(--text-bold);
            font-size: var(--text-small);

            @media (min-width: 992px) {
              font-size: 18px;
            }
          } */
          h3 {
            color: var(--title);
            font-weight: var(--text-normal);
            font-size: 35px;
            line-height: 45px;
            width: 100%;

            @media (min-width: 992px) {
              font-size: 50px;
              font-weight: var(--text-normal);
              line-height: 70px;
            }

            span {
              display: none;

              @media (min-width: 992px) {
                display: inline;
              }
            }
          }
        }
      }

      .aboutMe-infoSection-text {
        color: var(--content);
        font-weight: var(--text-normal);
        font-size: var(--text-small);
        line-height: 22px;

        @media (min-width: 992px) {
          font-size: 18px;
          line-height: 30px;
        }
      }

      .socialMedia-list {
        margin-top: 10px;

        @media (min-width: 992px) {
          gap: 18px;
        }

        .socialMedia-item {
          a {
            .socialMedia-icon {
              @media (min-width: 992px) {
                font-size: 25px;
              }
            }
          }
        }
      }

      .bluePillButton {
        margin-top: 10px;
        @media (min-width: 992px) {
          max-width: fit-content;
          padding: 15px 50px;
          margin-top: 10px;
        }
      }
    }
  }
}
