/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/*****************************/
/*** VARIABLE STYLES ***/
/*****************************/
:root {
  /* color palette */
  --body: #162127;
  --container: #212e36;
  --border: #3c4952;
  --content: #a2afb7;
  --title: #eef3f5;
  --main: #53a8f2;
  --main-dark: #3e9aef;
  --main_2: #fff;
  --dark_clear: #fff;
  /* font family */
  --inter: 'Inter', sans-serif;
  /* font size */
  --text-muchBigger: 40px;
  --text-bigger: 30px;
  --text-big: 20px;
  --text-medium: 18px;
  --text-small: 14px;
  --text-smaller: 12px;
  /* font weight */
  --text-bolder: 500;
  --text-bold: 400;
  --text-normal: 300;
  --text-light: 200;
  --text-lighter: 100;
  /* screens size */
  --screen-large: 992px;
}

/*****************************/
/*** BASIC RESET ***/
/*****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--inter);
}
/*****************************/
/*** HTML ***/
/*****************************/
html {
  scroll-behavior: smooth;
}

/*****************************/
/*** BODY ***/
/*****************************/
body {
  background-color: var(--body);
  width: 100%;
}

/*****************************/
/*** HORIZONTAL LINE COMPONENT ***/
/*****************************/
.horizontalLine {
  width: 90%;
  height: 0;
  align-self: center;
  border: solid 1px var(--container);
}

/*****************************/
/*** ALL PROJECTS HORIZONTAL LINE ***/
/*****************************/
.allProjectsHrLine {
  width: 90%;
  max-width: 992px;
  height: 0;
  align-self: center;
  border: solid 1px var(--container);
}

/*****************************/
/*** MAIN ***/
/*****************************/
.main {
  display: flex;
  flex-direction: column;

  .horizontalLine {
    @media (min-width: 992px) {
      display: none;
    }
  }
}

/*****************************/
/*** ALL PROJECTS BUTTON ***/
/*****************************/
.allProjectsLink {
  width: 50%;
  max-width: 300px;
  text-decoration-line: none;
  color: var(--body);
  align-self: center;

  .bluePillButton {
    width: 100%;
  }
}

/*****************************/
/*** SOCIAL MEDIA LIST COMPONENT ***/
/*****************************/
.socialMedia-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 12px;

  .socialMedia-item {
    .socialMedia-icon {
      color: var(--content);
      transition: transform 0.3s ease;
    }
    &:hover {
      cursor: pointer;

      .socialMedia-icon {
        color: var(--main-dark);
        transform: scale(1.1);
      }
    }
  }
}
