/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/*****************************/
/*** VARIABLE STYLES ***/
/*****************************/
:root {
  /* color palette */
  --body: #162127;
  --container: #212e36;
  --border: #3c4952;
  --content: #a2afb7;
  --title: #eef3f5;
  --main: #53a8f2;
  --main-dark: #3e9aef;
  --main_2: #fff;
  --dark_clear: #fff;
  /* font family */
  --inter: 'Inter', sans-serif;
  /* font size */
  --text-muchBigger: 40px;
  --text-bigger: 30px;
  --text-big: 20px;
  --text-medium: 18px;
  --text-small: 14px;
  --text-smaller: 12px;
  /* font weight */
  --text-bolder: 500;
  --text-bold: 400;
  --text-normal: 300;
  --text-light: 200;
  --text-lighter: 100;
  /* screens size */
  --screen-large: 992px;
}

/*****************************/
/*** BASIC RESET ***/
/*****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--inter);
}
/*****************************/
/*** HTML ***/
/*****************************/
html {
  scroll-behavior: smooth;
}

/*****************************/
/*** BODY ***/
/*****************************/
body {
  background-color: var(--body);
  width: 100%;
}

/*****************************/
/*** HORIZONTAL LINE COMPONENT ***/
/*****************************/
.horizontalLine {
  width: 90%;
  height: 0;
  align-self: center;
  border: solid 1px var(--container);
}

/*****************************/
/*** ALL PROJECTS HORIZONTAL LINE ***/
/*****************************/
.allProjectsHrLine {
  width: 90%;
  max-width: 992px;
  height: 0;
  align-self: center;
  border: solid 1px var(--container);
}

/*****************************/
/*** MAIN ***/
/*****************************/
.main {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .horizontalLine {
    @media (min-width: 992px) {
      display: none;
    }
  }
}

/*****************************/
/*** ALL PROJECTS BUTTON ***/
/*****************************/
.allProjectsLink {
  width: 80%;
  max-width: 400px;
  text-decoration-line: none;
  color: var(--body);
  align-self: center;
  margin: 0 0 20px 0;

  @media (min-width: 992px) {
    margin: 30px 0;
  }

  .bluePillButton {
    width: 100%;

    @media (min-width: 992px) {
      padding: 15px 35px;
    }
  }
}

/*****************************/
/*** CHECK MY GITHUB SECTION ***/
/*****************************/
.checkMyGithub-container {
  width: 100%;
  padding: 30px 0;
  justify-items: center;

  .checkMyGithub-section {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    @media (min-width: 992px) {
      padding: 20px 0;
    }

    .socialMedia-icon {
      color: var(--border);
      margin-bottom: 10px;

      @media (min-width: 992px) {
        font-size: 80px;
      }
    }

    h2,
    p {
      text-align: center;
    }

    h2 {
      font-size: var(--text-bigger);
      font-weight: var(--text-bold);
      color: var(--title);

      @media (min-width: 992px) {
        font-size: 45px;
      }

      a {
        color: var(--title);
        transition: color 0.3s ease;

        &:hover {
          cursor: pointer;
          color: var(--main);
        }
      }
    }

    p {
      color: var(--content);
      font-size: var(--text-small);
      width: 90%;
      line-height: 20px;

      @media (min-width: 992px) {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}

/*****************************/
/*** SKILLS SECTION ***/
/*****************************/
.skillsContainer {
  width: 100%;
  justify-items: center;

  .skillsSection {
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    /** background-color: var(--container); **/
    padding: 20px 0 40px 0;
    border-radius: 10px;

    @media (min-width: 992px) {
      gap: 60px;
      padding: 40px 0;
    }

    .skillsSection-list {
      display: flex;
      flex-direction: row;
      gap: 15px;
      list-style: none;
      align-items: center;

      @media (min-width: 992px) {
        gap: 30px;
      }

      li {
        @media (min-width: 992px) {
          width: 60px;
          display: flex;
          justify-content: center;
        }

        img {
          @media (min-width: 992px) {
            width: 100%;
            max-height: 60px;
          }
        }
      }
    }

    .skillsSection-text {
      color: var(--main);
      font-weight: var(--text-bold);
      font-size: var(--text-small);
      line-height: 20px;

      @media (min-width: 992px) {
        font-size: 20px;
        line-height: 26px;
      }
    }

    .skillsSection-button {
      background-color: transparent;
      border-radius: 50px;
      border: solid 2px var(--main);
      padding: 10px 20px;
      transition: transform 0.3s ease;

      p {
        font-weight: var(--text-bold);
        font-size: var(--text-smaller);
        color: var(--main);
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color: var(--main-dark);
        border-color: var(--main-dark);

        p {
          color: var(--body);
        }
      }
    }
  }
}

/*****************************/
/*** ABOUT ME SECTION ***/
/*****************************/
.aboutMe-section {
  width: 100%;
  background-color: var(--container);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media (min-width: 992px) {
    margin: 30px 0;
  }

  .aboutMe-infoSection {
    width: 90%;
    max-width: 1200px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;

    @media (min-width: 992px) {
      flex-direction: row;
      padding: 100px 60px;
      justify-content: space-between;
      border-radius: 30px;
    }

    .aboutMe-img {
      border-radius: 60px;
      align-self: center;

      @media (min-width: 992px) {
        align-self: flex-start;
        width: 20%;
        border-radius: 100%;
      }
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 25px;

      @media (min-width: 992px) {
        width: 73%;
        gap: 30px;
      }

      .aboutMe-infoSection-titlesContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        justify-content: center;

        @media (min-width: 992px) {
          width: 100%;
          justify-content: flex-start;
          margin-bottom: 10px;
        }

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 15px;

          @media (min-width: 992px) {
            width: 100%;
            text-align: start;
            align-items: flex-start;
            gap: 18px;
          }

          h3 {
            color: var(--content);
            font-weight: var(--text-bold);
            font-size: var(--text-medium);

            @media (min-width: 992px) {
              font-size: 18px;
            }
          }
          p {
            color: var(--title);
            font-weight: var(--text-normal);
            font-size: var(--text-big);
            line-height: 30px;
            width: 100%;

            @media (min-width: 992px) {
              font-size: 45px;
              font-weight: var(--text-normal);
              line-height: 55px;
            }
          }
        }
      }

      .aboutMe-infoSection-text {
        color: var(--content);
        font-weight: var(--text-normal);
        font-size: var(--text-small);
        line-height: 20px;

        @media (min-width: 992px) {
          font-size: 18px;
          line-height: 30px;
        }
      }

      .socialMedia-list {
        margin-top: 10px;

        @media (min-width: 992px) {
          gap: 18px;
        }

        .socialMedia-item {
          a {
            .socialMedia-icon {
              @media (min-width: 992px) {
                font-size: 25px;
              }
            }
          }
        }
      }

      .aboutMe-infoSection-resumeButton {
        background-color: var(--main);
        border: none;
        padding: 10px 20px;
        border-radius: 50px;
        margin-top: 10px;
        transition: transform 0.3s ease;

        @media (min-width: 992px) {
          width: fit-content;
          padding: 15px 28px;
          margin-top: 15px;
        }

        &:hover {
          background-color: var(--main-dark);
          cursor: pointer;
          transform: scale(1.1);
        }

        p {
          font-size: var(--text-smaller);
          color: var(--body);

          @media (min-width: 992px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

/*****************************/
/*** SOCIAL MEDIA LIST COMPONENT ***/
/*****************************/
.socialMedia-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 12px;

  .socialMedia-item {
    .socialMedia-icon {
      color: var(--content);
      transition: transform 0.3s ease;
    }
    &:hover {
      cursor: pointer;

      .socialMedia-icon {
        color: var(--main-dark);
        transform: scale(1.1);
      }
    }
  }
}

/*****************************/
/*** CONTACT ME SECTION ***/
/*****************************/
.contactMe-container {
  width: 100%;
  padding: 30px 0;
  justify-items: center;

  .contactMe-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;

    .contactMe-button {
      background-color: var(--main);
      border: none;
      padding: 10px 20px;
      border-radius: 50px;
      transition: transform 0.3s ease;

      @media (min-width: 992px) {
        padding: 12px 25px;
      }

      &:hover {
        background-color: var(--main-dark);
        cursor: pointer;
        transform: scale(1.1);
      }

      p {
        font-size: var(--text-smaller);
        color: var(--body);

        @media (min-width: 992px) {
          font-size: 16px;
        }
      }
    }
  }
}

/*****************************/
/*** FOOTER ***/
/*****************************/
.footer {
  padding: 40px 50px 80px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 992px) {
    padding-bottom: 100px;
  }

  .socialMedia-list {
    padding: 20px 0;
    gap: 20px;

    @media (min-width: 992px) {
      gap: 25px;
    }

    .socialMedia-item {
      a {
        .socialMedia-icon {
          @media (min-width: 992px) {
            font-size: 25px;
          }
        }
      }
    }
  }

  .footerContainer {
    p {
      text-align: center;
      color: var(--content);
      font-weight: var(--text-normal);
      font-size: var(--text-smaller);
      margin: 10px 0;

      @media (min-width: 992px) {
        font-size: 16px;
      }

      a {
        color: var(--main);
        text-decoration-line: none;
        font-weight: var(--text-bold);

        &:hover {
          color: var(--main-dark);
        }
      }
    }
  }
}
