/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/*****************************/
/*** VARIABLE STYLES ***/
/*****************************/
:root {
  /* color palette */
  --body: #162127;
  --container: #212e36;
  --border: #3c4952;
  --content: #a2afb7;
  --title: #eef3f5;
  --main: #53a8f2;
  --main-dark: #3e9aef;
  --main_2: #fff;
  --dark_clear: #fff;
  /* font family */
  --inter: 'Inter', sans-serif;
  /* font size */
  --text-bigger: 25px;
  --text-big: 20px;
  --text-medium: 18px;
  --text-small: 14px;
  --text-smaller: 12px;
  /* font weight */
  --text-bolder: 500;
  --text-bold: 400;
  --text-normal: 300;
  --text-light: 200;
  --text-lighter: 100;
}

/*****************************/
/*** BASIC RESET ***/
/*****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--inter);
}

/*****************************/
/*** BODY ***/
/*****************************/
body {
  background-color: var(--body);
  padding: 20px 0 60px 0;
  width: 100%;
}

/*****************************/
/*** HEADER ***/
/*****************************/
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 20px;
  align-items: center;
  justify-content: space-between;

  .profilePhoto-small {
    border-radius: 100%;
    width: 40px;
  }

  .burgerMenu-icon {
    color: var(--content);
  }
}

/*****************************/
/*** BANNER ***/
/*****************************/
.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/*****************************/
/*** BANNER ***/
/*****************************/
.banner {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  .banner_section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    p,
    h2 {
      text-align: center;
      width: 90%;
    }

    p {
      font-size: var(--text-small);
    }

    .banner_section-greetings {
      color: var(--main);
    }

    .banner_section-title {
      font-size: var(--text-bigger);
      font-weight: var(--text-bolder);
      color: var(--content);

      .banner_section-titleName {
        color: var(--title);
      }
    }

    .banner_section-text {
      color: var(--content);
      line-height: 20px;
      width: 80%;
    }
  }

  .banner_buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;

    .banner_buttons-talk {
      background-color: var(--main);
      border: none;
      padding: 10px 20px;
      border-radius: 50px;
      transition: transform 0.3s ease;

      &:hover {
        background-color: var(--main-dark);
        cursor: pointer;
        transform: scale(1.1);
      }

      p {
        font-size: var(--text-smaller);
        color: var(--body);
      }
    }

    .banner_buttons-projects {
      background-color: transparent;
      border: none;
      display: flex;
      flex-direction: row;
      gap: 5px;
      padding: 10px 0;

      p {
        font-size: var(--text-smaller);
        color: var(--main);
        transition: transform 0.3s ease;
      }

      .arrowRightIcon {
        color: var(--main);
        justify-content: center;
        transition: transform 0.3s ease;
      }

      &:hover {
        cursor: pointer;

        p {
          color: var(--main-dark);
        }

        .arrowRightIcon {
          color: var(--main-dark);
          transform: translateX(6px);
        }
      }
    }
  }
}

/*****************************/
/*** SKILLS SECTION ***/
/*****************************/
.skillsContainer {
  width: 100%;
  padding: 0 20px;

  .skillsSection {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: var(--container);
    padding: 40px 10px;
    border-radius: 10px;

    div {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .skillsSection-title,
      .skillsSection-text {
        text-align: center;
      }

      .skillsSection-title {
        font-weight: var(--text-normal);
        font-size: var(--text-medium);
        color: var(--title);
      }

      .skillsSection-text {
        font-weight: var(--text-bold);
        font-size: var(--text-smaller);
        color: var(--main);
      }
    }

    .skillsSection-list {
      display: flex;
      flex-direction: row;
      gap: 12px;
      list-style: none;
      align-items: center;
    }

    .skillsSection-button {
      background-color: transparent;
      border-radius: 50px;
      border: solid 2px var(--main);
      padding: 10px 20px;
      transition: transform 0.3s ease;

      p {
        font-weight: var(--text-bold);
        font-size: var(--text-smaller);
        color: var(--main);
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color: var(--main-dark);
        border-color: var(--main-dark);

        p {
          color: var(--body);
        }
      }
    }
  }
}
