/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/*****************************/
/*** VARIABLE STYLES ***/
/*****************************/
:root {
  /* color palette */
  --body: #162127;
  --container: #212e36;
  --border: #3c4952;
  --content: #a2afb7;
  --title: #eef3f5;
  --main: #53a8f2;
  --main_2: #fff;
  --dark_clear: #fff;
  /* font family */
  --inter: 'Inter', sans-serif;
}

/*****************************/
/*** BASIC RESET ***/
/*****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************************/
/*** BODY ***/
/*****************************/
body {
  background-color: var(--body);
  padding: 20px 0 60px 0;
  width: 100%;
}

/*****************************/
/*** HEADER ***/
/*****************************/
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 20px;
  align-items: center;
  justify-content: space-between;

  .profilePhoto-small {
    border-radius: 100%;
    width: 40px;
  }

  .burgerMenu-icon {
    fill: var(--content);
  }
}
