/*****************************/
/*** SKILLS SECTION ***/
/*****************************/
.skillsContainer {
  width: 100%;
  max-width: 1000px;
  justify-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;

  @media (min-width: 992px) {
    flex-direction: row;
    padding: 30px 0 50px 0;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
  }

  .sectionTitles {
    gap: 0;

    @media (min-width: 992px) {
      padding: 0;
      align-items: start;
      gap: 25px;
      max-width: 550px;
    }

    h3 {
      @media (min-width: 992px) {
        font-size: 50px;
        text-align: start;
        font-weight: var(--text-normal);
      }
    }

    p {
      display: none;

      @media (min-width: 992px) {
        display: block;
        text-align: start;
      }
    }
  }

  .skillsSection {
    width: 90%;
    /* max-width: 1100px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    /** background-color: var(--container); **/
    border-radius: 10px;

    @media (min-width: 992px) {
      /* display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 55px;
      align-items: start; */
      /* flex-direction: row;
      align-items: start;
      justify-content: space-between; */
      align-items: start;
      width: fit-content;
      gap: 18px;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;

      @media (min-width: 992px) {
        /* gap: 35px;
        max-width: 280px; */
        align-items: start;
      }

      .skillsSection-text {
        color: var(--main);
        font-weight: var(--text-bold);
        font-size: var(--text-small);
        line-height: 20px;

        @media (min-width: 992px) {
          font-size: 16px;
          line-height: 26px;
          color: var(--title);
          font-weight: var(--text-normal);
        }
      }
      .skillsSection-list {
        display: flex;
        flex-direction: row;
        gap: 15px;
        list-style: none;
        align-items: center;
        margin-bottom: 5px;

        @media (min-width: 992px) {
          /* flex-wrap: wrap;
          justify-content: start;
          gap: 25px; */
          /*           display: grid;
          grid-template-columns: repeat(auto-fit, minmax(60px, 200px));
          gap: 1.5rem; */
        }

        li {
          width: 30px;
          display: flex;
          justify-content: center;
          @media (min-width: 992px) {
            /* width: 50px; */
          }

          img {
            width: 100%;
            max-height: 30px;
            @media (min-width: 992px) {
              /* max-height: 60px; */
            }
          }
        }
      }
    }

    .skillsSection-button {
      background-color: transparent;
      border-radius: 50px;
      border: solid 2px var(--main);
      padding: 10px 20px;
      transition: transform 0.3s ease;

      p {
        font-weight: var(--text-bold);
        font-size: var(--text-smaller);
        color: var(--main);
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color: var(--main-dark);
        border-color: var(--main-dark);

        p {
          color: var(--body);
        }
      }
    }
  }
}
